<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <log4net>
    <root>
      <!--输入类型的级别，All代表所有-->
      <level value="All" />
      <appender-ref ref="consoleApp" />
      <appender-ref ref="rollingFile" />
    </root>

    <appender  name="rollingFile" type="log4net.Appender.RollingFileAppender" >
      <!--保存到根目录的文件夹和文件-->
      <param name="File" value="Log/log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <!--当不在写入时的文件名称格式：log.txt_2010-09-20.txt-->
      <param name="DatePattern" value="_yyyy-MM-dd'.txt'" />
      <!--当不在写入时的文件名称格式：log.txt_2010-09-20-->
      <param name="DatePattern" value="_yyyy-MM-dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %m %n" />
      </layout>
    </appender>

    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%t] %m %-5p %n" />
      </layout>
    </appender>
  </log4net>

</configuration>
