<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>

    <clear />
    <!--<add name="Winner.Framework.Oracle.ConnectionString" connectionString="Data Source=SOUY70;User ID=souy;Password=souy;" providerName="System.Data.OracleClient" />-->
    <add name="Winner.Framework.Oracle.ConnectionString" connectionString="Data Source=souy181;User ID=souy181;Password=yxh123456;" providerName="System.Data.OracleClient" />

  </connectionStrings>
  <appSettings>

    <!--数据库连接字符串是否加密-->
    <add key="ConnectionStringEncrypt" value="false" />

    <!--是否为开发模式-->
    <add key="Debuger" value="true"/>

    <!--服务队列-->
    <add key="Winner.Job.Master.Queue" value="1"/>

    <!--是否启动跟踪-->
    <add key="StartStopwatch" value="true"/>
  </appSettings>
</configuration>
